.bod {
  width: 30%;
  margin: auto;
  gap: 20px;
  margin-top: 10%;
  background-color: rgb(210, 158, 158);
  color: rgb(1, 9, 17);
}
.nav_logo_container img {

  height: 70px;
  margin: auto;
  width: 275px;
}
.log{
  padding: 1cm;
  height: 500px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.existing_customers{
  margin-top: 10px;
  margin-bottom: 10px;
  /* padding-bottom: 40px; */
  /* font-size: 25px; */
}
.section_title{
  gap: 10px;
 font-size: 25px;
 font-style: italic;
font-weight: 300;
color: rgb(79, 30, 165);
}
#email{
  padding-top: 10px;
}
#pass{
  padding-top: 10px;
}
.field_input{
  font-size: 25px;
}
.btm{
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
.primary_btn{
  font-size: medium;
}
#log {
 display: flex;
 gap: 20px;
}