body {
    padding: 0px;
    margin: 0px;
    background-color: #465D6A;
    font-family: 'Roboto', sans-serif;
}

#marvel_banner {
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

#marvel_banner>img {
    height: 100%;
    width: 100%;
}

.banner_text {
    position: absolute;
    top: 60%;
    color: white;
    padding: 40px;
}

.banner_text h4 {
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.banner_text p {
    text-decoration-line: underline;
    font-weight: bolder;
}

.banner_text p:hover {
    font-size: large;
}